button {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: rgba(255,255,255, 0.9);
  cursor: pointer;
  font-size: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  &:hover {
    color: rgba(255,255,255, 1);
  }
}
